body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    margin: 0;
}
input{
    background: #000;
    color: #aaa;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    border: 1px solid #444;
    max-width: 1px;
    padding: 5px;
    vertical-align: top;
    word-wrap: break-word;
}
.top{
    background: #333;
}
tr:not(.top){
    cursor: pointer;
}
tr:hover{
    background: #222;
}
